# OSX
#
.DS_Store
yarn.lock
# Windows
#
Thumbs.db

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IJ
#
*.iml
.idea
.gradle
local.properties

# SVN
.svn
yarn.lock
# node.js
#
.bin
npm-debug.log
__pycache__
# BUCK
buck-out/
\.buckd/

# tools

!node_module/jest-haste-map/build
node_modules

